{% extends "base.html" %}
{% block content %}

    <div class="content">

        <!-- Main content with user songs -->
        <div class="main secondary green-highlight">
            {% if page == "user" %}
                <div class="main__image">
                    {% if user.images != [] %}
                        <img src="{{user.images[1].url}}" alt="Spotify user's image">
                    {% else %}
                        <img src="https://i.scdn.co/image/ab6761610000e5eba1b1a48354e9a91fef58f651" alt="Spotify user's image">
                    {% endif %}

                    <div class="main__info">
                        <h1 class="main__info-title"><a href="{{ user.external_urls.spotify }}" target="_blank">{{ user.display_name[0] | upper }}{{ user.display_name[1:] }}</a></h1>
                        <h3 class="main__info-desc">Followers: {{ user.followers.total }}</h3>
                    </div>
                </div>
            {% endif %}

            <!-- Playlist content -->
            {% block playlist %}
            {% endblock playlist %}
        </div>
    
        <!-- Side bar with playlists -->
        <div class="playlists__icon playlists__icon-left">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#1ED760"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 18L20 18" stroke="#1ED760" stroke-width="2" stroke-linecap="round"></path> <path d="M4 12L20 12" stroke="#1ED760" stroke-width="2" stroke-linecap="round"></path> <path d="M4 6L20 6" stroke="#1ED760" stroke-width="2" stroke-linecap="round"></path> </g></svg>
        </div>
        <div class="playlists secondary scrollbar green-highlight"> 
            <div class="playlists__new-user">
                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.user(class_="accent playlists__new-user-entry") }}
                </form>
    
                <h2 class="playlists__new-user-title">{{ user.display_name[0] | upper }}{{ user.display_name[1:] }}'s playlist(s): </h2>
    
                <hr>
            </div>

            {% for playlist in playlists %}
            <a href="/user/{{user.id}}/playlist/{{ playlist.id }}">
                <div class="playlist">
                    {% if playlist.images != [] %}
                        <img src="{{ playlist.images[-1].url }}" alt="Playlist image" width="60px" height="60px">
                    {% else %}
                        <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2?v=v2" alt="Playlist image" width="60px" height="60px">
                    {% endif %}
                    <h3><a href="{{ playlist.external_urls.spotify }}" target="_blank">{{ playlist.name }}</a></h3>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>

{% endblock content %}  