{% extends "base.html" %}
{% block content %}
    <h1>{{ user.display_name }}</h1>
    {% if user.images != [] %}
        <img src="{{user.images[1].url}}" alt="Spotify user's image">
    {% else %}
        <img src="https://i.scdn.co/image/ab6761610000e5eba1b1a48354e9a91fef58f651" alt="Spotify user's image" width="300px">
    {% endif %}
    <h2>Spotify Profile: <a href="{{ user.external_urls.spotify }}" target="_blank">{{ user.external_urls.spotify }}</a></h2>
    <h3>Followers: {{ user.followers.total }}</h3>

    <h1>Playlists:</h1>
    
    <!-- <p>{{ playlist }}</p> -->
    {% for playlist in playlists %}
        <img src="{{ playlist.images[-1].url }}" alt="Playlist image" width="60px">
        
        <h2>Playlist: {{ playlist.name }}</h2>
        <h3>Spotify Link: <a href="{{ playlist.external_urls.spotify }}" target="_blank">{{ playlist.external_urls.spotify }}</a></h3>
        <a href="/user/{{user.id}}/playlist/{{ playlist.id }}">Download Songs</a>
        <hr>
    {% endfor %}
    
{% endblock content %}  